.single-container-box {
  position: relative;
}
.single-container-box .arrow {
  position: absolute;
  top: -70px;
  right: 120px;
  margin-top: -5px;
  cursor: pointer;
  z-index: 1000;
}

.single-container-box button:not(:disabled) svg path {
  stroke: #014751 !important;
}

.single-container-box button:disabled svg path {
  stroke: #e6edee !important;
}

.single-container-box .arrow.arrow-left {
  /* transform: rotate(180deg); */
  right: 166px;
}
.single-container-box .arrow.arrow-right {
  /* transform: rotate(180deg); */
  /* transform: rotate(180deg); */
}

@media only screen and (max-width: 767px) {
  .single-container-box .arrow {
    display: none;
  }
}